<div class="app-container" *ngIf="authService.isAuthenticated()">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title">{{ title }}</span>
    <span class="spacer"></span>
    
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    
    <mat-menu #userMenu="matMenu">
      <div class="user-info">
        <p class="user-name">{{ currentUser?.companyName }}</p>
        <p class="user-email">{{ currentUser?.email }}</p>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [opened]="sidenavOpened" class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span matListItemTitle>Dashboard</span>
        </a>
        
        <a mat-list-item routerLink="/templates" routerLinkActive="active">
          <mat-icon matListItemIcon>description</mat-icon>
          <span matListItemTitle>Templates</span>
        </a>
        
        <a mat-list-item routerLink="/certificates" routerLinkActive="active">
          <mat-icon matListItemIcon>verified</mat-icon>
          <span matListItemTitle>Certificates</span>
        </a>
        
        <mat-divider></mat-divider>
        
        <a mat-list-item routerLink="/certificates/generate" routerLinkActive="active">
          <mat-icon matListItemIcon>add_circle</mat-icon>
          <span matListItemTitle>Generate Certificate</span>
        </a>
        
        <a mat-list-item routerLink="/templates/create" routerLinkActive="active">
          <mat-icon matListItemIcon>note_add</mat-icon>
          <span matListItemTitle>Create Template</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div class="public-container" *ngIf="!authService.isAuthenticated()">
  <router-outlet></router-outlet>
</div>